<h1>Welcome to Fake Tweet!</h1>

<form action="/show" method="POST">
  <input type="text" id="username" name="username"></input>
  <input id="get_tweets" type="button" value="submit!"></input>
</form>

<form action="/new" method="POST">
  username<input type="text" id="user" name="username"></input>
  tweet<input type="text" id="tweet" name="tweet"></input>
  <input id="post_tweets" type="submit" value="submit!"></input>
</form>

<div id='loadingmessage'>
</div>

<div id='tweet'>
</div>

<script>
  $(document).ready(function(){
    $("#loadingmessage").hide();

    $("#get_tweets").click(function(e){
      e.preventDefault();
      var user = $("#username").val();
      $("#loadingmessage").show().append("<img src='ajax-loader.gif'/>");

        $.ajax({
        method: "POST",
        url: "/show",
        data: { "username": user },
        dataType: "json",
        })
      .done(function(response) {
        $("#tweet").empty();
        for (var i = 0; i < response.length; i++) {
          $("#tweet").append('<p id=' +response[i]["id"]+ ">" + response[i]["text"] + '</p>')
        };
        $('#loadingmessage').hide();

      });
    });

    $("#post_tweets").click(function(e){
      e.preventDefault();
      $("input").prop("disabled", true);
      $("#loadingmessage").show().append("<img src='ajax-loader.gif'/><p>Your tweet is being posted.</p>");
      var user = $("#user").val();
      var tweet = $("#tweet").val();
        $.ajax({
          method: "POST",
          url: "/new",
          data: { "username": user, "tweet": tweet },
          success: function(value){
            alert("Your tweet has been posted");

          },
          error: function(value){
            alert("Bad Day!!!");
          }
        });

    })
  });
</script>

     <!--      $("#status").html("<h1>Tweet Posted!</h1>"); -->