<form action="/new" method="POST">
  <input type="text" id="username" name="username"></input>
  <input type="text" id="tweet" name="tweet"></input>
  <input id="get_tweets" type="button" value="submit!"></input>
</form>

<!-- <div id='loadingmessage'>
</div>

It takes time to tweet something and that makes for a subpar user experience. Bind to your form's submit event and instead submit an AJAX request. As soon as the form is submitted, disable the form elements, display a message letting the user know their tweet is being processed, and display an "all good" or "error" message via the AJAX callback once the tweet has actually been processed. -->